-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

.span-4.append-1
  = render 'aspects/aspect_listings', :aspects => @aspects, :contacts => @contacts

  %br

  #left_search
    = form_tag(people_path, :method => 'get', :id => "global_search_form") do
      = text_field_tag 'q', nil, :placeholder => 'People', :type => 'search', :results => 5

  %br

  - if @notification_count > 0 || @request_count > 0
    #new_requests
      - if @request_count > 0
        %h4
          = new_request_link(@request_count)

  /.section
  /  %h5
  /    = t('shared.invitations.invite_your_friends')
  /  = render "shared/invitations", :invites => @invites


.span-13.last
  %h3{:style => 'margin-bottom:0;'}
    Recent Activity

  = render 'aspects/no_contacts_message', :aspect => @aspect, :contact_count => @contacts.count

  #aspect_stream_container
    = render 'aspect_stream',
      :aspect => @aspect,
      :aspect_ids => @aspect_ids,
      :posts => @posts,
      :fakes => @fakes

